{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>{% if title %}{{title}}  - {%endif%}{% if name %}{{name}}{%else%}E-commerce{%endif%} </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    {% block css %}
    
    {% endblock css %}
    <link rel="icon" href="{% static 'images/logoicon.gif' %}">
    <script type="text/javascript">
        var user='{{request.user}}'

        //csrf token 
        function getToken(name){
            var cookieValue = null;
            if (document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for(var i=0; i<cookies.length; i++){
                    var cookie = cookies[i].trim()
                    //does this cookie begins with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;

        }
        var csrftoken = getToken('csrftoken')


        //function for get coockie

        // function getCookie(){
        //     //split cookie and get all indvdual name=value in an array
        //     var cookieArr= document.cookie.split(';')
        //     //loop thrgh the array elements
        //     for(var i=0; i<cookieArr.length;i++){
        //         var cookiePair= document.cookie.split('=')
                
        //         if(name == cookiePair[0].trim()){
        //             return decodeURIComponent(cookiePair[1])
        //         }
        //     }
        //     //if not found
        //     return null;
        // }
        // var cart = JSON.parse(getCookie('cart'))

        // if(cart == undefined){
        //     cart={}
        //     document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
        // }
    </script>  
    
</head>
<body>


   <div class="mainContainer">
       <div class="logauth">

        <div class="cont-auth">
            <div class="concel">
                <span>X</span>
            </div>
           <div class="sign">
               <div class="signin">
                <button  class="signbtn selected-sign">Sign in</button>
               </div>
               <div class="signup">
                   <button class="signbtn not-selected-sign">Sign up</button>
               </div>
           </div>
           <div class="authsign">
            <div class="auth-social">
                <a href="{% url 'social:begin' 'instagram' %}">
                    <button class="auth__twitter button button--flat button--md button--google button--icon font-sm full-width">
                       
                        <i class="fab fa-instagram"></i>
                         <span> Instagram </span>
                    </button>
                </a>
                
                <a href="{% url 'social:begin' 'facebook' %}">
                    <button class="auth__facebook button button--flat button--md button--facebook button--icon font-sm full-width">
                        <i class="fab fa-facebook-f"></i>
                        <span> Facebook</span>
                    </button></a>
                
            </div>

            <!-- sign in-->
            <div class="signinCont">
                <form class="auth__login-form" method="POST" >
                    {% csrf_token %}
        
                <div class="group">
                    <div class="group__context"><i class="far fa-user"></i></div>
                    <!-- <input type="text" name="username" placeholder="Username or Email" autofocus="" required=""> -->
                    {{formlogin.username}}
                </div>
        
                <div class="group mg-none-i">
                    <div class="group__context"><i class="fas fa-lock"></i></div>
                    <div class="group-input-password">
                        <!-- <input type="password" id="passval"  placeholder="Password" > -->
                        {{formlogin.password}}
        
                        <div class="password__toggle">
                            <i id="eyepass" data-sibl="througpass" data-id="id_password" class="fas fa-eye"></i>
                            <i data-sibl="eyepass" id="througpass" data-id="id_password" style="display:none" class="fas fa-eye-slash"></i>
                        </div>
                    </div>
                </div>
        
                <div class="row row--vertical-center row--space-between mg-none pd-lv2 pd-x-none">
                    <button id="forgot-password" class="forgetpass"><span class="forget" data-tab="tab-forgot-password">Forgot your password?</span></button>
                </div>
        
                
                    <button type="submit" class="button-flat">
                        <span>Sign in</span>
                    </button>
               
            </form> 
            </div>
            <!-- for signing up -->
            <div style="display:none" class="signupCont">
                <form class="auth__login-form" method="POST">
                    {% csrf_token %}
        
                <div class="group">
                    <div class="group__context"><i class="far fa-user"></i></div>
                    <!-- <input type="text" name="username" placeholder="Username" autofocus="" required=""> -->
                    {{formsignup.username}}
                </div>
                <div class="group">
                    <div class="group__context"><i class="far fa-envelope"></i></div>
                    <!-- <input type="email" name="email" placeholder="Email" autofocus="" required=""> -->
                    {{formsignup.email}}
                </div>
        
                <div class="group mg-none-i">
                    <div class="group__context"><i class="fas fa-lock"></i></div>
                    <div class="group-input-password">
                        <!-- <input type="password" id="passval"  placeholder="Password" > -->
                        {{formsignup.password1}}
        
                        <div class="password__toggle">
                            <i id="througpass1" data-sibl="eyepass1" data-id="id_password1" class="fas fa-eye"></i>
                            <i id="eyepass1" data-sibl="througpass1" data-id="id_password1" style="display:none" class="fas fa-eye-slash"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="group mg-none-i">
                    <div class="group__context"><i class="fas fa-lock"></i></div>
                    <div class="group-input-password">
                        <!-- <input type="password" id="passval"  placeholder="Password" > -->
                        {{formsignup.password2}}
        
                        <div class="password__toggle">
                            <i id="througpass2" data-sibl="eyepass2" data-id="id_password2" class="fas fa-eye"></i>
                            <i id="eyepass2" data-sibl="througpass2" data-id="id_password2" style="display:none" class="fas fa-eye-slash"></i>
                        </div>
                    </div>
                    
                </div>
        
                <div class="row row--vertical-center row--space-between mg-none pd-lv2 pd-x-none">
                    <button id="forgot-password" class="forgetpass"><span class="forget" data-tab="tab-forgot-password">Forgot your password?</span></button>
                </div>
                <div class="checkbx">
                    <label class="checkbox checkbox--sm">
                        <input id="register-newsletter" name="subscribe_newsletter" type="checkbox">
                        <span class="checkbox__indicator">
                            <i class="icon icon--xs icon--check"></i>
                        </span>
                        <span class="checkbox__link font-xs">I do not wish to receive news and promotions from Freepik Company by email.</span>
                    </label>
                </div>
        
                
                    <button type="submit" class="button-flat">
                        <span>Sign Up</span>
                    </button>
               
            </form>
            </div>



           </div>

        </div>

       </div>
    <nav>

        <div class="imageLogo">
           <a href="{% url 'home' %}"> <img  src="{% static 'images/logoEcomerce1.gif' %}" alt=""></a>
        </div>

        <div class="navContainer">
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a id="myacct" href="{% url 'profil' %}">| My Account</a></li>
                <li><a href="{% url 'cart' %}">| Cart</a></li>
                <li><a href="{% url 'checkout' %}">| Checkout</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">| Logout</a></li>
                {% else %}
                <li><a id="login" href="{% url 'login' %}">| Login</a></li>
                <li><a id="signup" href="{% url 'signup' %}">| Sign Up</a></li>
                {% endif %}

                <!--
                {% if user.is_authenticated %}
                    <li class="imgli">
                        <a href="{% url 'profil' %}">
                            
                                
                                    <img src="{{user.profile.image.url}}" alt="">
                                
                        </a>
                    </li>
                    <li><a href="{% url 'logout' %}"><button class="btn">Logout</button></a></li>
                {%else%}
                    <li><a href="{% url 'login' %}"><button class="btn">Login</button></a></li>
                {% endif %}
                -->
            </ul>
    
            <ul>
               
                    
                    <div class="cart-search">
                        <li>
                            <form method="GET" action="{% url 'search' %}">
                                
                                <input id="search" type="text" name="q">
                                <button id="searchinput-btn">Search</button>
                            </form>
                        </li>
    
                        <li>
                            <a href="{% url 'cart' %}">
                                <div class="cart">
                                     <div class="cartImg">
                                        <i class="fas fa-shopping-cart"></i>
                                     </div>
                                     <span id="cartnum" class="numcart">
                                        {% if totalitem.item %}
                                            {{totalitem.item}}
                                        {%else%}
                                           0
                                        {% endif %}
                                    </span>
                                </div>
                            </a>
                            <a href="{% url 'wishlist' %}">
                                <div class="cart wishlist">
                                     <div class="cartImg wishImg">
                                        <i class="far fa-heart"></i>
                                         <!-- <img   src="{% static 'images/chart2.gif' %}" alt=""> -->
                                     </div>
                                     <span id="cartnum" class="numcart numwish">
                                        
                                        {% if wishlist %}
                                            {{wishlist}}
                                        {%else%}
                                           0
                                        {% endif %}
                                    </span>
                                </div>
                            </a>
                        </li>
                    </div>

                
                    <ul id="dropdownmenusearch" class="dropdown">
                       
                        
                        
                    </ul>
            </ul>
            
        </div>
        
    </nav>
    {% block secondNav %}
    
    {% endblock secondNav%}
    {% block log %}
    {% endblock log %}

    <div class="containerContent">
        
        {% block content %}
        {% endblock content %}
    </div>
</div>


    
    <footer>
        <div class="firstFooter">
            <ul>
                <li>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 30.5 29.1"><path d="M25.1 0H5.4L0 7.6v21.5h30.5V7.6L25.1 0zm2.4 6.9H16.2V2H24l3.5 4.9zM6.4 2h7.8v4.9H2.9L6.4 2zM2 27.1V8.9h26.5v18.2H2z"></path><path d="M14.3 14.2l-1.4-1.4-5.4 5.3 5.4 5.4 1.4-1.4-2.9-3h10.1v-2H11.4z"></path></svg>
                    <p>
                        Satisfait ou remboursé<br>
                        14 jours pour changer d'avis
                    </p>
                </li>
                <li>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="37px" height="24px" viewBox="0 0 38.1 24"><path d="M26.1 24c-6.6 0-12-5.4-12-12s5.4-12 12-12 12 5.4 12 12-5.4 12-12 12zm0-22c-5.5 0-10 4.5-10 10s4.5 10 10 10 10-4.5 10-10-4.5-10-10-10z"></path><path d="M27.8 14.6l-2.7-2.8V5.2h2V11l2.1 2.2zM0 5.3h11.5v2H0zM4.1 11h7.4v2H4.1zM7.1 16.7h4.4v2H7.1z"></path></svg>
                    <p>
                        Livraison rapide<br>
                        Domicile ou point relais
                    </p>
                </li>
                <li>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="22px" viewBox="0 0 36.2 22.1"><path d="M36.2 10.4L30.1 0H0v19.4h5.5c.4 1.6 1.8 2.7 3.5 2.7s3.1-1.1 3.5-2.7h12.3c.4 1.6 1.9 2.7 3.5 2.7s3.1-1.1 3.5-2.7H36v-9zM28.9 2l4.5 7.7H22.8V2h6.1zM9 20.1c-.9 0-1.7-.8-1.7-1.7s.8-1.7 1.7-1.7 1.7.8 1.7 1.7-.8 1.7-1.7 1.7zm0-5.4a3.5 3.5 0 0 0-3.5 2.7H2V2h18.8v15.4h-8.2A3.9 3.9 0 0 0 9 14.7zm19.4 5.4c-.9 0-1.7-.8-1.7-1.7s.8-1.7 1.7-1.7 1.7.8 1.7 1.7-.7 1.7-1.7 1.7zm3.6-2.7c-.4-1.6-1.9-2.7-3.5-2.7s-3.1 1.1-3.5 2.7h-2.1v-5.7h11.4v5.7H32z"></path><path d="M14.8 4.9L10 9.7 8.2 7.9 6.7 9.3l3.3 3.2 6.2-6.2z"></path></svg>
                    <p>
                        
                            Livraison gratuite<br>
                            dès 99€
                       
                    </p>
                </li>
                <li>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="23px" height="28px" viewBox="0 0 23.6 28.7"><path d="M12 28.7l-.4-.2C-.1 22.9 0 11.9 0 7.7V6h1C3.8 6 9.2 2 11.1.5l.6-.5.6.5c1.9 1.5 7.4 5.3 10.2 5.3h1v1.7c.1 4.1.4 15.1-11.2 21l-.3.2zM2 7.9c0 4.2 0 13.5 9.9 18.6 9.8-5.2 9.7-14.6 9.6-18.8a29 29 0 0 1-9.8-5.2A27 27 0 0 1 2 7.9z"></path><path d="M10.1 19l-3.6-3.6L7.9 14l2.2 2.2 5.6-5.6 1.4 1.4z"></path></svg>
                    <p>
                        Paiement en ligne sécurisé
                    </p>
                </li>
            </ul>
        </div>
        <div class="footercontent">
            <div class="logodescription">
                <div class="logofooter">
                    <img  src="{% static 'images/logoEcomerce1.gif' %}" alt="">
                </div>
                <div class="text">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing 
                        elit. Iste et omnis corporis fugit explicabo? 
                    </p>
                </div>
                <div class="contact">
                    <ul>
                        <li><a><i class="fas fa-map-marker-alt"></i> Bouira, Algeries</a></li>
                        <li><a><i class="fas fa-phone-alt"></i> +213 0791517930</a></li>
                        <li><a><i class="fas fa-envelope"></i> market@info.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="information">
                <h4>
                    Information
                </h4>
                <ul>
                    <li><a href="#" >our story</a></li>
                    <li><a href="#" >privacy and policy</a></li>
                    <li><a href="#" >terms and conditions</a></li>
                    <li><a href="#" >shipping and delivery</a></li>
                    <li><a href="#" >careers</a></li>
                    <li><a href="#" >Faqs</a></li>
                </ul>
            </div>
            <div class="socialMedia">
                <h4>Our Social</h4>
                <ul>
                    <li><a href="#" ><i class="fab fa-facebook"></i>facebook</a></li>
                    <li><a href="#" ><i class="fab fa-instagram"></i>instagram</a></li>
                    <li><a href="#" ><i class="fab fa-twitter"></i>twitter</a></li>
                    <li><a href="#" ><i class="fab fa-whatsapp"></i>whatsapp</a></li>
                    <li><a href="#" ><i class="fab fa-youtube"></i>youtube</a></li>
                    
                </ul>
            </div>
            <div class="opentime-payementmode">
                <div class="paymentmode">
                    <h4>
                        Payement option
                    </h4>
                    <ul>
                        <li><i class="fab fa-paypal"></i></li>
                        <li><i class="fab fa-cc-visa"></i></li>
                        <li><i class="fab fa-cc-mastercard"></i></li>
                        <li><i class="fab fa-cc-stripe"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottomfooter">
            <div class="links">
                
                <ul>
                    <li><a href="#" >sitemap</a></li>
                    <li><a href="#" >store</a></li>
                    <li><a href="#" >account</a></li>
                    <li><a href="#" >contact us</a></li>
                </ul>
            </div>
            <div class="edition">
                &copy 2021 SalemSifEddine | All Rights Reserved
            </div>
        </div>
    </footer>



    <script src="{% static 'javascript/main1.js' %}"></script>
   
    <script src="{% static 'javascript/cart.js' %}"></script>
    <script src="{% static 'javascript\smoothscroll.js' %}"></script>
    <script src="{% static 'javascript\search.js' %}"></script>
   
    {% block script %}{% endblock script %}
</body>
</html>