{% extends "pages/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock css %}

{% block content %}
    <div class="row">
        <div class="row-cart">
            <a href="{% url 'home' %}"><button class="con-shopp">&#8592; Continue Shopping</button></a>
            <table>
                <tr>
                    <th>
                        <h5>Items: 
                           {{totalitem.item}}
                        </h5>
                        
                    </th>
                    <th>
                        <h5>Total: {{totalitem.price}}$</h5>
                    </th>
                    <th>
                        <a href="{% url 'checkout' %}"><button class="button">Checkout  &#8594;</button></a>
                    </th>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div class="row-products">
            <div class="items">
                <div style='width: 80px;'  class="item"><strong>Item</strong></div>
                <div style='width: 70px;'  class="price"><strong>Price</strong></div>
                <div style='width: 70px;'  class="quantity"><strong>Quantity</strong></div>
                <div style='width: 70px;'  class="total"><strong>Total</strong></div>
            </div>
       </div>
       
       {% for item in items %}  
       {% if user.profile.user == item.order.customer %}
            <div class="row-products">
                <div class="items items-item">
                    <div style='width: 90px;height:90px;'  class="item image-item itm"><img src="{{item.product.image.url}}" alt=""></div>
                    <div style='width: 70px;' class="price itm">{{item.product.new_price}}$</div>
                    <div style='width: 70px;'  class="quantity qnt-real itm">{{item.quantity}} 
                    <div style='width: 70px;'  class="btnsCrt">
                        <button data-action="add" data-product='{{item.product.id}}' class="addToCart"><i class="fas fa-chevron-up"></i></button> 
                        <button data-action="remove" data-product='{{item.product.id}}' class="addToCart"><i class="fas fa-chevron-down"></i></button>
                    </div>    
                    </div>
                    <div class="total itm">{{item.total}}$</div>
                </div>
            </div>
        
        {% endif %}
       {% endfor %}
    </div>
{% endblock content %}