{% extends 'pages/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/deal.css' %}">
{% endblock css %}

{% block content %}

<div class="deal-parent">
    <H1>Quick Deal</H1>
    <div id="viewdeal" class="deal-child">
        

        <div class="content">

            

            <div class="desc-txt">

                <div class="rtrn">

                    <a href="{% url 'home' %}"><button class="con-shopp">&#8592; Continue Shopping</button></a>
                    
                    <div class="list">
                        <div class="infos-deal">
                            <span>AVAILBLE</span>
                        </div>
                        <div class="infos-deal">
                            <span>HIGH QUAdsdTY</span>
                        </div>
                    </div>
                </div>
                <div class="desc-t">
                    <h1>
                        {{product.name}}
                    </h1>
                    <br>
                    <button id="byenow" class="byenowbtn">
                        Bye now
                    </button>
                </div>

            </div>

            <div class="img-deal">
                <img src="{{product.image.url}}" alt="">
            </div>
        </div>

    </div>
</div>
<div  id="paypal-button-container">
    <div style="margin-bottom: 10px; font-size:13px; color:#333; text-align:center">Payement Mode</div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>


<script>
    
    var prooved=''
   
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        style: {
            color:  'blue',
            shape:  'pill',
            label:  'pay',
            height: 40
        },

        // Set up the transaction
    createOrder: function(data, actions) {
        return actions.order.create({
            purchase_units: [{
                amount: {
                    value: 80
                }
            }]
        });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            
            
           
           
            
            
            return actions.order.capture().then(function(orderData) {
                prooved=true
                // shipping()
                document.getElementById("submitbtn").click();
                
                window.open("payement") 
                setTimeout(() => {
                location.pathname = "home"
            }, 2500);
               
              
                
                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
                
            });
        }

    }).render('#paypal-button-container');

    
</script>
{% endblock content %}

{% block script %}
<script src="{% static 'javascript/deal.js' %}"></script>
{% endblock script %}