{% extends "pages/base.html" %}
{% load social_share %}
{% load static %}
{% load qr_code %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock css %}

{% block content %}
<div class="view-product">

  
    <div class="product-detail">
        <div class="image-parent-detail">
            <div id="imgcontpro" class="img-element img-detail">
                {% if object.image %}
                <div id="lens"></div>
                    <a href="{{object.image.url}}"> <img  id="imgprod" src="{{object.image.url}}" alt="prdct"></a>
                {% endif %}
             </div>
             <div class="thumbnail-images">
                <!-- max 13pic -->
                {% for thumb in object.thumbnail.all %}

                 <div data-color="{{thumb.color}}" class="img"><img src="{{thumb.image.url}}" alt="{{thumb.alt}}"></div>
                
                 
                {% endfor %}
             </div>


             <div class="detail-info">
                <div class="product-detail-nonScroll dett">
                    <span  style="font-size: 3.5rem ;text-transform: capitalize;">product details</span>
                </div>
                <div  class="product-detail-text">
                    <p>{{object.description}}</p>
                </div>
             </div>

             
        </div>
         <div class="desc-element desc-element-detail">
            <div >
                <a href="{% url 'brand' object.brand_name %}"><h2>{{object.brand_name}}</h2></a>
                <h1 class=" product-name color_add">{{object.name.title}}</h1>
            </div>
            <div class="ratedet">

                {% if product.rate.rate == 0 %}
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif product.rate.rate == 0.5 %}
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif product.rate.rate == 1 %}
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif product.rate.rate == 1.5 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif product.rate.rate == 2 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif product.rate.rate == 2.5 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif product.rate.rate == 3 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif product.rate.rate == 3.5 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif product.rate.rate == 4 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif product.rate.rate == 4.5 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                {% elif product.rate.rate == 5 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                {% elif product.rate.rate == 5.5 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                {% else %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            {% endif %}
            </div>
            <br>
            <div  class="price"><span   class=" color_add">$ {{object.new_price}}0</span> <br>  <span style="text-decoration: line-through;" class=" color_add">$ {{object.old_price}}0</span></div>
            <div class="product-variations">
                <ul class="swatches">
                    
                
                        <li class="attribute">
                            <div class="selectColor">Select Color</div>
                            <div class="value">
                                <ul  class="swatches colors-product-images">

                                    <!-- <li class="select-table selected-color "><a class="swatchanchor" href="{{object.image.url}}"><img src="{{object.image.url}}" alt=""></a> </li>
                                    <li class="select-table "><a class="swatchanchor" href="{{object.image.url}}"><img src="{{object.image.url}}" alt=""></a> </li>
                                    <li class="select-table "><a class="swatchanchor" href="{{object.image.url}}"><img src="{{object.image.url}}" alt=""></a> </li>
                                     -->

                                     {% for color in object.colors.all %}

                                     <li data-color="{{color}}"  class="select-table"></li>
                                     
                                        {% endfor %}
                                    <ul class="colorsvalues" >
                                        {% for color in object.colors.all %}

                                        <li class="selected-value "> {{color}} / </li>
    
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                        </li>
                  

                </ul>
            </div>
                <div class="custom-select-field">
                    <div class="select-header">Select Size</div>
                    <div class="container-size">
                        <div class="select-size">
                            <div class="content">
                                <ul class="custom-select">
                                    {% for size in sizes %}

                                        {% if size in object.sizes.all %}

                                            <li>{{size}}</li>
                                        {% else %}
                                            <li class="sizeDoesNotExist">{{size}}</li> 
                                        {% endif %}
    
                                    {% endfor %}
                                    <!-- <li class="sizeDoesNotExist">S</li>
                                    <li>M</li>
                                    <li>L</li>
                                    <li>XL</li>
                                    <li>2XL</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

               
                   <div class="add-select">
                        <div class="quantity">
                            <div class="inv">
                                <label for="quantity">Qty</label>
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="cart-btn">
                            <div class="cartbtn">
                                <button  data-product='{{product.id}}'  class=" addToCart disabled">Select a size</button>
                            </div>
                        </div>
                   </div>
                   <div class="product-detail-scroll scrolled ">
                       <span>product details</span>
                   </div>
                   <div class="wishlist-btn">
                    <div class="wishlist">
                        
                    
                        {% if wishedproduct  %}
                       
                            <button id="wishbtn"  data-product='{{object.id}}'  class="addToWish added">
                                <i class="fa fa-heart"></i> Remove From WishList
                            </button>

                        {% else %}
                            <button id="wishbtn"  data-product='{{object.id}}'  class="addToWish">
                                <i class="far fa-heart"></i> Add To WishList
                            </button>
                        
                        {% endif %}
                    
                        

                      
                        <!-- <button id="wishbtn"  data-product='{{product.id}}'  class="addToWish">
                            <i class="far fa-heart"></i> Add To WishList
                        </button> -->
                      
                    </div>
                   </div>

                   <div class="share-on qrcode-scan">
                       <p>Share This On:</p>
                       
                       <div class="social-share">
                           <ul>
                            <li>
                                {% post_to_facebook object_or_url "<i style='color:#4267B2; font-size: 35px;' class='fab fa-facebook-square'></i>" %}   
                            </li>
                            
                                
                            
                            
                           </ul>
                       </div>

                       <div class="qr-code">
                        {% qr_from_text  'product/object.id'  size=8 border=5 %}
                       </div>
                   </div>
               
            </div>
            
            <!-- <div ><h2><p class="color_add">{{object.description}}</p></h2></div><br>
            
            <div><h3 class="color_add">Catigory: {{object.catigory}}</h3></div><br>
            <div> <h3 class="color_add">Rate: {{object.rate}} Star(s)</h3></div><br> -->
            <!-- <div class="buttons buttons-detail center-button"><button data-action="add" data-product='{{product.id}}' class="addToCart">Add to Cart</button></div><br>
         </div> -->
    
    
    
    
    
    
    
    
        </div>

    



   
    </div>

    
    <div class="related-products">
        <div class="categoriesProducts">
            <div class="title skeleton-text">
                <h4>related PRODUCTS</h4>
            </div>   
        </div>

        <div id="productidcontainer" class="products">
            {% for product in relatedProducts %}
                    
                <div xmlns:v="https://www.w3.org/1999/xhtml/" about="product.get_absolute_url" typeof="v:Product"  class="product">
                            
                    <a href="{% url 'detail'  product.id %}">
                        {% if product.is_promotion %}
                       <div id="promo{{product.id}}v" class="promotion">
                           <script>
                               var val=0
                               var newpricepromo= "{{product.new_price}}"
                               var oldpricepromo= "{{product.old_price}}"
                               var promotion=(parseInt(newpricepromo) / parseInt(oldpricepromo))*100
                               if(promotion.toString().split('').length >= 2){
                                  val= promotion.toString().split('').slice(0,2).join('')
                               }

                               document.getElementById("promo{{product.id}}v").textContent =val + "%"
                           </script>
                       </div>
                       {% endif %}
                    <div class="productImg">
                        <img class="skeleton" src="{{product.image.url}}" alt="">
                    </div>
                    </a>
                    
                    <div class="productDescription">
                        <div property="v:name" class="productName skeleton-text">
                            <h5>{{product.name|lower}}</h5>
                        </div>
                        <div class="productPrice">
                            <div class="through skeleton-text">
                                {% if product.old_price == 0 %}
                                    <p>Free</p>
                                {% else %}
                                    <p>{{product.old_price}}0$</p>
                                {% endif %}
                            </div>
                            <div  property="v:price" class="realPrice skeleton-text">
                                {% if product.new_price == 0 %}
                                <h5>Free</h5>
                                {% else %}
                                    <h5>{{product.new_price}}0$</h5>
                                {% endif %}
                                
                            </div>
                        </div>
                        <div  property="v:rate" class="rate">

                            {% if product.rate.rate == 0 %}
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            {% elif product.rate.rate == 0.5 %}
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            {% elif product.rate.rate == 1 %}
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            {% elif product.rate.rate == 1.5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            {% elif product.rate.rate == 2 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            {% elif product.rate.rate == 2.5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            {% elif product.rate.rate == 3 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            {% elif product.rate.rate == 3.5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            {% elif product.rate.rate == 4 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            {% elif product.rate.rate == 4.5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            {% elif product.rate.rate == 5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            {% elif product.rate.rate == 5.5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        {% endif %}
                        </div>
                        <div class="btns">
                            <button  data-product='{{product.id}}' data-action='add'  class=" addToCart">Add to cart</button>
                            
                        </div>
                        </div>
                       
                    
                </div>
                {% endfor %}
                </div>
                <button data-load="loaddetail" id="btnload" data-category='{{product.catigory.id}}' data-rows=1 class="loadmore" data-action="load">See more</button>
                
{% endblock content %}

{% block script %}

    <script src="{% static 'javascript/detail.js' %}"></script>
{% endblock script %}