
*{
    /*font face */
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    font-family: sans-serif, tahoma;
    color:#fff;
} 

body{
    background: #F0F0F0;
    display:flex;
    flex-direction: column;
    font-weight:lighter;
    
}

nav{
    width:100%;
    max-height:15vh;
    background: #333; 
    position: relative;
    font-size:18px;
    font-family: sans-serif, tahoma;;
    color:white;
    z-index: 9999999;
    display:flex;
    justify-content:space-between;
    
}

nav .imageLogo{
    width: 180px;
    height: 20vh;
}
nav .imageLogo img{
    width:100%;
    height: 100%;
}

nav .navContainer{
   width:70%;
   position:relative
}

nav .navContainer ul:first-of-type{
    height: 30px;
}
nav ul {
    width:100%;
    display: flex;
    justify-content: right ;
    text-align:end;
   
}
nav ul li{
    margin-left: 7px;
    padding:10px;
    line-height: 15px;
    color:#333;
}
nav ul ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width:30%;
    
}
nav ul ul li button{
    width:70px;
    height:4.5vh;
    text-align: center;
    outline:none;
    border:none;
    background:#ec5f5c;
    border-radius:0 2px 2px 0;
    font-size:16px;
}
nav ul ul li button a { 
    font-weight:500;
    color:rgba(22, 21, 21, 0.842);
}
nav ul li {
   text-decoration: none;
   overflow:hidden;
   list-style: none;
   
}


nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color:#fff;
}
nav ul ul .imgli{
    max-height:51px;
    max-width:51px;
    min-height:50px;
    min-width:50px;
    margin-top:1vh;
    border-radius:15px;
    overflow:hidden;
    border:1px solid #173f5f;
    background:#20636b;

}
.cart{
    position:relative;
    height:95%;
    width:50px;
    

}
.cart .cartImg,.cart .cartImg img{
    width:100%;
    height:100%;
}


.cart .numcart{
    width:25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.803);
    color:#333;
    position:absolute;
    z-index: 99;
    top:-10px;
    right:-7px;
   
    line-height: 25px;
    text-align: center;
    border-radius:50%;
}
.cart .numwish{
    
    background: rgba(255, 255, 255, 0.803);
    color:#333;
}
.cart .cartImg i,.cart .cartImg i{
    color:#fff;
    font-size: 25px;
}
nav .navContainer ul:nth-of-type(2)  .cart-search{
    width: 100%;
    min-height: 5vh;

    display: flex;
    
}
nav .navContainer ul:nth-of-type(2) .cart-search  li:first-of-type{
    min-height: 3vh;
    
    width: 80%;
    position: relative;
    overflow: hidden;

}
nav .navContainer  ul:nth-of-type(2) .cart-search  li:first-of-type form{
    display:flex
}
nav .navContainer  ul:nth-of-type(2) .cart-search  li:first-of-type form{
    width:100%;
    height:100%;
  
}
nav .navContainer ul:nth-of-type(2){
    display:inline-block;
}

nav .navContainer ul:nth-of-type(2) .cart-search  li:first-of-type form button{
    
    width:100px;
    height:100%;

}
nav .navContainer  ul:nth-of-type(2) .cart-search  li:nth-of-type(2){
    width:20%;
    display:flex;
    justify-content: space-around;
}

nav ul li form input{
    outline:none;
    border:none;
    border-radius:4px 0 0 4px;
    width:100%;
    height:100%;
    padding:5px;
    font-size:16px;
    font-family: sans-serif, tahoma;;
    background-color: rgb(240, 231, 231);
    color:#333;
}

nav ul li form button, .button-yellow{
    outline:none;
    border:none;
   
    width:90px;
    height:4vh;
    background:#ec5f5c;
    color:rgba(255, 255, 255, 0.842);
    font-size: 16px;
    font-family: sans-serif, tahoma;;
    cursor: pointer;
    font-weight:500;
}
nav ul li button , .button-yellow{
    color:#333;
}
 .button-yellow:hover{
    color:#ec5f5c;
    background-color: transparent;
    border:3px solid #ec5f5c;
    transition:.4s ease-in-out;
}
nav ul ul li a img{
    width:100%;
    height:100%;
}

.secondnav{
    width:100%;
    height:7vh;
    background:#ec5f5c;
    line-height: 7vh;
    
}
.secondnav .categnav{
    text-align: start;
    padding-left:100px;
    letter-spacing:1.5px;
    font-weight: 500;
}


.secondnav .categlist{
    text-transform: uppercase;
    min-width:60%;

}
.secondnav .categlist ul{
    display: flex;
    list-style:none;
    justify-content:space-between;

}
.secondnav .categlist ul li a{
    text-decoration: none;
}
.parent-row{
    display:flex
}
.row{
    width: 100%;
    height: 100%;
    display: inline;
    background-color: #fff;
    padding-top:5px;
    padding-bottom:40px;
    
}
.row .product{
    color:#333;
    box-shadow: 6px 5px 6px 2px rgba(69, 78, 73, 0.986);
    width:23%;
    height:290px;
    margin-top: 6px;
    float:left;
    border-radius: 10px;
    overflow:hidden;
    border: 1px solid black;
    background:#fff;
}
.row .product .img-element{
    width: 100%;
    height:75%;

    background:rgba(127, 189, 150, 0.986);
    overflow:hidden;
}
.row .product .img-element img{
    width: 100%;
    height:100%;
}
.desc-element{
    width:100%;
    color:#333;
    height:10%;
}
.desc-element h4 {
    padding-left: 8px;
    color:#fff;
    font-family: sans-serif, tahoma;;
    padding-top:5px;
    color:#333;
}

.buttons{
    width:100%;
    height:15%;
    padding-left:7px;
}
.buttons button, .buttons .button{
    width:100px;
    height:4vh;
    text-decoration: none;
    cursor:pointer;
    outline:none;
    font-size:15.5px;
    font-family: sans-serif, tahoma;;
    background:transparent;
    border:1.9px solid rgba(0, 0, 0, 0.986);
    color:rgb(0, 0, 0);
 
    font-weight:500;
}
.button{
    width:100px;
    height:4vh;
    text-decoration: none;
    cursor:pointer;
    outline:none;
    font-size:15.5px;
    font-family: sans-serif, tahoma;;
    
    color:rgb(0, 0, 0);
   
    font-weight:500;
    text-align:center;
    border-radius: 3px;
    transition: .3s ease-in;
    border:2px solid rgba(0, 0, 0, 0.986);
}
.button:hover{
    color:#fff;
    background:rgba(0, 0, 0, 0.986);
   
}
.buttons .button, .button{
    width:115px;
}
.buttons button:hover, .buttons .button:hover{
    color:#333;
    transition: .3s ease-in;
    border:2px solid rgba(0, 0, 0, 0.986);
    background:transparent;
}

.price{
   
   text-transform: capitalize;
    color: #fff
}
.price span{
    margin-bottom: 10px;
}
.buttons .view{
    width:50px
}
.row .row-cart{
    width:80%;
    padding:10px;
    height: 23vh;
    margin: 10px auto;
/*    
    border-bottom:1px solid #333; */
}
.row .row-cart .con-shopp{
    width:200px;
    height:6vh;
    text-decoration: none;
    cursor:pointer;
    outline:none;
    font-size:15.5px;
    font-family: sans-serif, tahoma;;
    background:transparent;
    border:1.8px solid rgba(0, 0, 0, 0.986);
    color:rgb(0, 0, 0);
    border-radius:4px;
    font-weight:500;
    
}

.row .row-cart .con-shopp:hover{
    color:#fff;
    transition: .3s ease-in;
    background:rgba(0, 0, 0, 0.986);
}
.row .row-cart table{
    width:100%;
    min-height: 10vh;
    
    margin:20px 0;
    
}

.row .row-cart table tbody tr th h5{color:#333;}

button, .button{
    cursor:pointer;

}

.row .row-products{
    width:90%;
    margin:0 auto;
    min-height:10vh;
    margin-bottom: 10px;
    
}
.productcart{
    border-top: 1px solid #333;
}
.row .row-products .items{
    width:100%;
    height:8vh;
    /* border-radius: 9px;
    box-shadow:2px 2px  4px #ec5f5c; */
    line-height: 8vh;
    
    display: inline-flex;
    justify-content: space-around;
    /* background-color: #ec5f5c; */
    
}
.row .row-products .items-item{
    width:100%;
    height: 20vh;
    /* box-shadow:2px 2px  4px #ec5f5c; */
    display: inline-flex;
    justify-content: space-between;
    
}

.price, .quantity span , .total{
    color:#333
}

.item strong,.price strong, .quantity strong, .total strong{
    color: #333;
    list-style: none;
    text-transform: capitalize;
    font-weight: 600
}
/* .row .row-products .items div{
 
    width:80px;
    text-align:center
} */
.row .row-products .items .itm{
    align-self: center;
    margin-right:80px;
    
}
.qnt-real {
    display: flex;
    justify-content: space-around
}

.row .row-products .items .item{
    display: flex;
}
.row .row-products .items .item i{
    font-size: 30px;
    color: #ec5f5c;
    padding: 10px;
    align-self: center;
    cursor: pointer
}
.row .row-products .items .item .img{
   
    min-height: 82px;
    overflow: hidden;
    min-width:92px;
    background: rgba(0, 0, 0, 0.644);
    border-radius: 3px;
}

.row .row-products .items .item .img img {
    width:100%;
    height:100%;
}


.color_add{
    color:#333;
}

.page-login{
    width:30%;
    height:50vh;
    border-radius:25px;
    background: #ec5f5c;
    margin:10vh auto;
    padding-top:25px;
    text-align: center;
    justify-self: center;
}
.page-login form ul li{
    list-style:none;
    color:rgba(221, 50, 50, 0.849);
    font-size:15px;
}


.page-login form input{
    width:90%;
    height:5vh;
    font-size: 14px;
    border-radius: 3px;
    border:none;
    outline:none;
    margin-bottom: 20px;
    color:#333;
    padding:5px;
    font-size:16px
}
.page-login form  .button{
    width:60%;
    height:30px;
    letter-spacing: 1.4px;
    margin: 0 auto ;
    margin-bottom:20px;
    border-radius: 0px;

    border:2px solid #333;
    background:transparent;
    color:#333
}

.page-reg{
    width:30%;
    height:70vh;
    border-radius:25px;
    background: gray;
    margin:10vh auto;
    padding-top:25px;
    text-align: center;
    justify-self: center;
}
.page-reg form ul li, .page-reg form p span{
    list-style:none;
    color:rgba(221, 50, 50, 0.849);
    font-size:16px;
    
}


.page-reg form input{
    width:90%;
    height:4.4vh;
    border-radius: 8px;
    border:none;
    outline:none;
    margin-bottom: 10px;
    color:#333;
    padding:5px;
    font-size:16px
}

.page-reg form  .button{
    width:60%;
    height:30px;
    letter-spacing: 1.4px;
    margin: 0 auto ;
    margin-top:20px;
    border:2px solid rgba(62, 134, 90, 0.986);
    color:#fff
}

.info-profile {
    width:80%;
    height:80vh;
    background:#ffffea;
    display:flex;
    justify-content:space-around;
    overflow:hidden;
    margin:5vh auto;
    background:#3caea3;
    border-radius:5px;
    
}
.info-profile .info-user{
    width:90%;
    height:90%;
    padding:40px;
    display:flex;
    margin:2.5% auto;
    justify-content:space-around;
    
}
.info-profile .info-user .user-image{

    width:150px;
    height:150px;
    border:3px solid #173f5f;
    background:#20636b;
    border-radius:50%;
  
    overflow:hidden;
}
.info-profile .info-user .user-image img{
    width:100%;
    height:100%;
}
.info-profile .info-user .user-info-details{
    width:calc(100% - 250px - 210px);
    height:100%;

    color:#333;
    padding-top:60px;
    padding-left:20px;
    
}

.user-regl {
    width:200px;
    text-align: center;
}
.user-regl .regl form{
     width:250px;
    height:150px;
    padding:10px
}
.user-regl .regl form input[type="submit"]{
    margin-top:20px;
    height:5vh
}

.user-regl .regl form input[type="file"]{
    height:25px;
    width:250px;
    margin-top: 10px;
    font-size:15px;

}

.product-input{
    width:30%;
    height:85vh;
    margin:2.5vh auto;
    background: #3ddc84; 
    padding:10px;
    text-align: center;
    border-radius:10px;
}
.product-input form{
    display: block;
    width:100%;
    height:100%;
    justify-content: space-around;
    padding-top: 10px;
    text-align: center;
}
.product-input form div:not(:last-of-type){
    margin-bottom:10px
}
.product-input form div input:not(.button, input[type="file"]), .product-input form select{
    width:300px;
    height:27px;
    border:none;
    outline:none;
    border-radius:4px;
    overflow:hidden;
    padding:5px;
    color:#333;
    font-size:15px;
    font-family:sans-serif;
    margin-top: 2px;
}
.product-input form div input[type="file"]{
    width:300px;
    height:37px;
    border:none;
    outline:none;
    border-radius:4px;
    overflow:hidden;
    padding:5px;
    color:#333;
    cursor:pointer;
    margin-top: 2px;
}

.product-input form div label{
    
    color:#333
}
.product-input form div textarea{
    color:#333;
    min-width:300px;
    max-width:301px;
    height:45px;
    max-height:85px;
    border:none;
    padding:4px;
    border-radius:4px;
    outline:none;
    margin-top: 2px;
}
.product-input form  .button{
    width:300px;
    height:40px
}
.select-menu{
    width: 20%;
    height:100vh;
   
}
.select-menu ul li:first-of-type{
    
    margin: 10px auto;
    padding:2px;
    width:100%;
    
}
.select-menu ul li:not(:first-of-type){
    margin: 2px auto;
    padding:5px;
    width:100%;
    text-align: center;
}

.button-yellow{
    text-decoration: none;
   background: #f6d55c;
   border:none;
   width:80%;
   height:30px;
   margin:0 10%;
}

.products-user{
    width:80%;
    min-height:50vh;
    margin:2px auto;
    
    border-radius:5px;
    padding:5px;
}
.products-user .product-user{
    width:100%;
    min-height:15vh;
    display:flex;
    margin-bottom: 10px;
}
.products-user .product-user:not(:last-of-type){
    padding-bottom: 4px;
    border-bottom:1px solid #555
}
.products-user .product-user .img-element{
    width:40%;
    height:40vh;
    overflow:hidden;
    border-radius: 15px 0 0 15px;
}
.products-user .product-user .img-element img{
    width:100%;
    height:100%;
}
.products-user .product-user .desc-element{
    width:100%;
    height:40vh;

    padding:14px;
}


.center-button{
    margin: 5px auto;
    text-align:center;
}

.hiden{
    display: none;
}
nav .navContainer ul:last-of-type {
    position: relative;
}
nav .navContainer ul:last-of-type .dropdown{
    width: 66.65%;
    height:auto;
    max-height: 37.5vh;
    line-height: 30px;
    /* display: flex;
    flex-direction: column; */
    display: none;
    border-radius: 2px  ;
    background: #F0F0F0;
    position: absolute;
    left: 17px;
    top: 7.6vh;
    overflow: hidden;
}
nav .navContainer ul:last-of-type .dropdown li{
   
    margin:0;
    width: 100%;
    height:5vh;
    color: #333;;  
    background-color:#fff;
    text-align:start;
    padding-left: 15px;
    cursor: pointer;
    font-size: 15px;
}

nav .navContainer ul:last-of-type .dropdown li:not(:last-of-type){
    
    margin-bottom: 2px;
}

nav .navContainer ul:last-of-type .dropdown li:hover{
    background:#ec5e5c9c
}

.promotion{
    z-index:999;
    background-color:#ec5f5c;
    color: #fff;
    text-align: center;
    width:45px;
    height:45px;
    position: absolute;
    top:0px;
    right:0px;
    border-radius: 50%;
    line-height:45px;
    
}